// Specific CSS for your home-page
.banner-info {
  background-color: $brand-primary;
}

.banner-heading {
  font-weight: 700;
  font-size: 42px;
  width: 400px;
}

.banner-text {
  color: white;
  width: 450px;
  font-size: 20px;
}

.banner-image {
  height: 350px;
}
