<div class="product-icons">
 <% case @product.category %>
  <% when'Beer' %>
    <i class="fas fa-beer"></i>
  <% when 'Lager' %>
    <i class="fas fa-beer"></i>
  <% when 'Cider' %>
    <i class="fas fa-beer"></i>
  <% when 'White wine' %>
    <i class="far fa-wine-glass-alt"></i>
  <% when 'Red wine' %>
    <i class="fas fa-wine-glass-alt"></i>
  <% when 'Champagne' %>
    <i class="fal fa-glass-champagne"></i>
  <% when 'Soft drinks' %>
    <i class="fas fa-cocktail"></i>
  <% when 'Spirits' %>
    <i class="fas fa-cocktail"></i>
  <% end %>
<% end %>
</div>

