<div class="row mt-3">
  <h2>Your tenders</h2>
  <div class="row mt-2">
    <% @bids.each do |bid| %>
      <div class="col-4 mb-4">
        <div class="card shadow">
          <div class="card-body">
            <p class="card-text"><%= bid.listing_deal.volume %></p>
            <p class="card-text">Bid: £<%= bid.amount %></p>
            <%= link_to listing_deal_path(bid.listing_deal) do %>
              <button class="btn btn-primary">Details</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
