<div class="container">
  <div class="row user-header">
    <h1 class="my-5 ">Welcome back, <%= @user.name %></h1>
  </div>
  <% if !current_user.is_venue %>
    <%= render "user_is_brand" %>
  <% else %>
    <%= render "user_is_venue" %>
  <% end %>
</div>
