.listing-deal-show li {
  list-style-type: none;
}

.listing-deal-show-actions{
  display:flex;
  flex-direction: column;
}

.bid-container {
  margin-top: 20px;
}

.tender-container ul {
  list-style: none;
}

.venue-header {
  background-color: $brand-primary;
  padding: 10px 15px;
  color: #fff;
}

.venue-header h1 {
  margin: 0;
}

.venue-header, .tender-container, .bid-container, .accepted-bid-card {
  margin-bottom: 20px;
}
