.listing-deal-show li {
  list-style-type: none;
}

.listing-deal-show-actions{
  display:flex;
  flex-direction: column;
}

.bid-container {
  margin-top: 20px;
}

.tender-container ul {
  list-style: none;
}

.venue-header {
  background-color: $brand-primary;
  padding: 20px 25px;
  color: #fff;
}

.venue-header h1 {
  margin: 0;
}

.venue-header, .tender-container, .bid-container, .accepted-bid-card, .bid-top-stats {
  margin-bottom: 10px;
}

.bid-top-stats {
  display: flex;
}

.bid-top-stats div {
  margin-right: 10px;
}

.show-card-content{
  padding: 30px 50px 50px 50px;
}
