<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Eztenda</h1>
<%= link_to 'View all Listing Deals', listing_deals_path %>

<% if current_user %>
  <%= link_to "User page", current_user %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>