
//  all css for the bid card
.bid-card {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  // align-items: center;
}

.bid-card p {
  margin: 0;
  padding: 0;
}
