.filter-links{
  display: flex;
  justify-content: space-between;
}

.filter-bar{
  padding: 10px 300px;
  margin: 0;
  background-color: lightgrey;
}

.filter-bar a{
  color: black;
  opacity: 0.6;
}
